<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header "> Create New Event</h3>
      <%= render 'events/form',
                 button_name: 'Create',
                 button_type: 'btn btn-primary button',
                 back_link: root_path %>
    </div>
  </div>
</div>